header, footer {
    text-align: center;
    background-color: black;
    color: white;
}

header h1 {
    text-shadow: 2px 2px 2px;
}

body {
    background-color: #eddede;
    padding: 0px 10px;
}

ul.myNav li {
    display: inline;
    padding: 5px 20px;
    background-color: lightgray;
    border: 2px solid gray;
    margin: 2px;
}

.inputRow {
    padding: 10px;
}

.myLabel {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 100%;
    padding-top: 2px;
    padding-right: 5px;
    width: 200px;
    text-align: right;
    float: left;
}

form {
    padding: 20px;
    border: 2px solid lightgray;
    width 60%;
}

.myInput {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 100%;
    width: 200px;
    padding-left: 5px;
    /*border: 1px solid green;*/
}

input[type='submit'] {
    width: 100px;
    margin-left: 320px;
}

.formal {
    margin: 5px;
    border: 4px solid black;
    border-radius: 20px;
}

.formal .myInput {
    
    width: 80%;
    min-width: 250px;
    border-radius: 5px;
    border: 2px solid #444444;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.formal .myInput:invalid {
    border: 2px solid red;
}

.formal .mySelect {
    width: calc(80% + 9px);
    min-width: 259px;
    background-color: white;
}

.formal .mySubmit {
    display: block;
    float: right;
    border: 2px outset #555555;
    border-radius: 7px;
    background-color: #444444;
    color: white;
}

.formal .mySubmit:hover {
    opacity: 0.8;
}

.formal .myLabel {
    display: block;
    width: 100%;
    text-align: left;
    float: left;
}

#styleform {
    width: 60vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -30vw;
    margin-right: -30vw;
}

.formal *:focus, .formal *:invalid:focus {
    border: 2px solid #88EAF9;
    outline: none;
}